.back {
  display: block;
}

button {
  cursor: pointer;
  font-family: inherit;
  font-size: 16px;
  padding: 8px 16px;
  height: 40px;
  width: 100%;
  background-color: #4e75ff;
  border-radius: 8px;
  color: #fff;
  letter-spacing: 1px;
  border: 0;
  transition-duration: 250ms;
}

button:hover {
  background-color: #6c8cff;
}

button:disabled {
  background-color: #cccccc;
  color: #666666;
  border: 1px solid #999999;
  cursor: not-allowed;
  opacity: 0.6;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

input {
  box-sizing: border-box;
  font-family: inherit;
  border: 1px solid #808080;
  border-radius: 4px;
  padding-left: 8px;
  width: 272px;
  height: 40px;
  letter-spacing: 1px;
  margin-right: 8px;
}

input:hover {
  border: 1px solid black;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 25px;
  width: 360px;
}

.form > label {
  display: flex;
  flex-direction: column;
}

form input {
  width: 100%;
}

fieldset {
  display: flex;
  border-radius: 4px;
  height: 78px;
  justify-content: space-around;
  padding-top: 30px;
  padding-bottom: 5px;
}

fieldset label {
  display: flex;
  align-items: center;
}

fieldset input {
  display: flex;
  height: 20px;
  width: 20px;
}
